[submodule "vendor/vim-pathogen"]
	path = vendor/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vendor/syntastic"]
	path = vendor/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vendor/snipmate"]
	path = vendor/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vendor/tabular"]
	path = vendor/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vendor/vim-puppet"]
	path = vendor/vim-puppet
	url = https://github.com/rodjek/vim-puppet
